/************************************Html tags****************************************/
body {
	margin:0;
	text-align: center;
	font-family: 'Merriweather', serif;
}

h1 {
	margin-top: 0;
	font-size: 5.625rem;
	font-family: 'Sacramento', cursive;
	
	/*1em = 16px = 100%*/
	margin: 50px auto 0px auto;
}

h2 {

	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	color: #66BFBF;
}

h3 {

	font-family: 'Montserrat', sans-serif;
	color: #66BFBF;
}

hr{
	
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;

}

a {
	color: #11999E;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	margin: 10px 20px;

}

a:hover {
	color: #EAF6F6;
}


/************************************Class tags****************************************/
.top-container {
	background-color: #E4F9F5;;
	position: relative;
	padding-top: 100px;
}

.middle-container {

}

.bottom-container{
	background-color: #66BFBF;
	padding: 30px;
	font-size: 20px;
}

/*.contact-me {
	background-color: #E4F9F5;
}*/
.mountain {
	position:relative;
}

.cloud1 {
	position: absolute;
	left: 70px;

}

.cloud2 {
	position : absolute;
	left:200px;
	bottom: 200px;

}

.cloud3 {
	position: absolute;
	bottom: 400px;
	right: 50px;
}
.profilePic {
	border-radius: 100%;
	width: 200px;
	margin-top: 50px;
}

.copy-right {
	color: #EAF6F6;
	padding: 20px 0;
	font-size: 0.95rem;
}
/************************************Id tags****************************************/